<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManager"
        tools:targetApi="31">
        <activity
            android:name=".taskTracker"
            android:exported="false" />
        <activity
            android:name=".tasksPastDue"
            android:exported="false" />
        <activity
            android:name=".tasksCompleted"
            android:exported="false" />
        <activity
            android:name=".taskInProgress"
            android:exported="false" />
        <activity
            android:name=".newTask"
            android:exported="false" />
        <activity
            android:name=".myTeam_One"
            android:exported="false" />
        <activity
            android:name=".MYTEAM"
            android:exported="false" />
        <activity
            android:name=".TASKS"
            android:exported="false" />
        <activity
            android:name=".taskDetails"
            android:exported="false" />
        <activity
            android:name=".myCalendar"
            android:exported="false" />
        <activity
            android:name=".allTasks"
            android:exported="false" />
        <activity
            android:name=".myWeek"
            android:exported="false" />
        <activity
            android:name=".mytask_one"
            android:exported="false" />
        <activity
            android:name=".myTasks"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".signuplogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>